---
---

<style>
  @reference "../../../styles/global.css";
  nav > ul {
    @apply flex flex-row justify-center items-center gap-2.5
  }
  nav > ul > li {
    @apply p-1.5 text-emerald-700 hover:text-emerald-950 text-fluid-h3
  }
</style>
<nav>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
