---
---
<style>
    @reference "../../../styles/global.css";
    input {
        background-color: rgba(254, 237, 197, 0.25);
        @apply rounded-full w-[20cqi] p-2.5 pl-5 shadow placeholder-gray-400 text-fluid-h4
    }
</style>
<div class="">
    <input type="text" name="search" placeholder="Search">
</div>