---
import Header from "./Header/index.astro";
import '../styles/global.css'

const bannerName = 'The Pet Shop'
const bannerContact = 'Contact: +91 12345 12345'
---
<style>
  @reference "../styles/global.css";

  .banner {
    background-color: rgba(0, 75, 54, 0.866);
    @apply h-20 w-full top-0 flex justify-between
  }
  .banner .name {
    font-family:Georgia, 'Times New Roman', Times, serif;

    @apply w-1/4 flex flex-col justify-center items-start pl-6 pr-6 text-[clamp(1.5rem,3cqi,3rem)] whitespace-nowrap font-bold text-amber-100
  }
  .banner .contact {
    @apply w-1/4 flex flex-col justify-center items-end pl-6 pr-6 text-[clamp(0.6rem,1.2vw,1.2rem)] font-light font-stretch-semi-expanded text-white
  }
</style>
<section class="banner">
    <span class="name">{bannerName}</span>
    <Header mode="dummy" />
    <span class="contact">{bannerContact}</span>
    <!-- Image src={banner} alt={bannerName + " Banner"} / -->
</section>