---
//import "../styles/global.css"
---
<style>
  .noti {
    background: rgba(255, 212, 243, 0.85); /* So you can see it over the text */
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: fixed; /* Changed from sticky */
    bottom: 5%; 
    width: 80%; /* Fixed elements need a defined width usually */
    left: 10%;    
    border: 1px solid black;
    border-radius: 10px;
  }
</style>
<section class="noti"> <!-- flex flex-row sticky bottom-2">-->
    <img />
    <h3>Notification Head</h3>
    <p>Notification text</p>
</section>