---
---
<style>
  @reference "../../styles/global.css";
  .noti {
    background: rgba(255, 212, 243, 0.85);
    @apply w-4/5 left-1/10 border border-black rounded-xl flex flex-col fixed p-2.5 bottom-1/20
  }
</style>
<section class="noti">
    <img />
    <p class="text-fluid-h3">Notification Head</p>
    <p class="text-fluid-h4">Notification text</p>
</section>